<section class="main-container">

    <div class="main">
        <div class="info-container">

            <div class="text">
                <h1 class="title"> Trail<span style="color: white;">Flix</span></h1>
                <h4 class="sub-title"> Disfruta de tus peliculas favoritas en un mismo sitio! </h4>
            </div>
        
            <div class="buttons">
                <button (click)="goToRegister()" class="btn">
                    Registrate en Trail Flix    
                </button>
                <button (click)="goToLogin()" class="btn">
                    ¿Eres usuario? Inicia sesión
                </button>
            </div>
    
        </div>
    
        <div>
            <img class="img-main" src="../../../../../assets/images/Cine.jpg" alt="cine">
        </div>
    </div>
    

</section>