.landing-components{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
@media screen and (max-width: 1244px) {
    .landing-components{
        height: auto;
        margin-top: 50px;
    }
}