
.card_movie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    position: relative;
    min-height: 200px;
    min-width: 100px;
  }
  
  .card_title {
    text-align: center;
    text-decoration: none;
    color: white;
    overflow: hidden;
  }

  .card_enlace {
    text-decoration: none;
  }

  .card_enlace img {
    width: 100%;
    aspect-ratio: 1/1.5;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .card_enlace:hover img {
    transform: scale(1.01);
    transition:  0.2s  ease-in-out ;
  }
  
  .color_text{
    color: white;
    font-size: 1.5rem;
}