.custom-dialog-title {
    color: white;
}

.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 51, 51);
    padding: 20px;
    max-height: 100%;
}

.content {
    max-width: 100%;
    white-space: pre-line;
    max-height: 480px;
    overflow-y: auto;
}