<mat-dialog-content style="background-color: black" class="container">
  <div class="row">
    <div class="row">
      <div class="col-1">
        <button class="btn btn-outline-danger" (click)="closeDialog()">
          <i style="font-size: 1.5rem" class="bi bi-x-circle"></i>
        </button>
      </div>

      <div class="col"></div>
      <div class="col-6">
        <h1 class="text-center" style="color: white">{{ data.title }}</h1>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col-4 d-flex flex-column align-items-center">
        <img
          src="{{ 'https://image.tmdb.org/t/p/w500' + movie.poster_path }}"
          alt=""
          class="img-fluid"
        />
      </div>

      <div class="col-8 text-center align-self-center">
        <h6 class="mt-2 text-white">{{ data.overview }}</h6>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions style="background-color: black; display: flex; width: 100%">
  <button
    *ngIf="favorite; else notFavorite"
    (click)="removeFavorites()"
    class="btn btn-outline-danger"
    style="flex: 1"
  >
    <i style="font-size: 2rem" class="bi bi-heartbreak"></i>
  </button>
  <ng-template #notFavorite>
    <button
      (click)="addFavorite()"
      class="btn btn-outline-success"
      style="flex: 1; margin-right: 5px"
    >
      <i style="font-size: 2rem" class="bi bi-heart"></i>
    </button>
  </ng-template>

  <button
    (click)="dialogTrailer(transformedlink)"
    class="btn btn-outline-primary"
    style="flex: 1; margin-right: 5px"
  >
    <i style="font-size: 2rem" class="bi bi-play-circle"></i>
  </button>
</mat-dialog-actions>
