<section class="features-conteiner">

    <div class="feature">
        <!-- <i class="bi bi-collection-play"></i> -->
        <h5>Explora todo nuestro catalogo</h5>
    </div>
    <div class="feature">
            
            <h5>Accede desde cualquier dispositivo</h5>
            <!-- <i class="bi bi-phone"></i> -->
    </div>
    <div class="feature">
        <!-- <i class="bi bi-badge-4k"></i> -->
        <h5>Disfruta a la maxima calidad</h5>
    </div>
    <div class="feature">
       
        <h5>Las mejores peliculas en un mismo lugar</h5>
        <!-- <i class="bi bi-film"></i> -->
    </div>

</section>