<section class="about-container">

    <div class="feature-container">
        <div class="text">
            <h2>
                Sobre nosotros
            </h2>
            <span>
                Somos Diego Ezequiel Inostroza y Juan Manuel Tretta, dos estudiantes de la Tecnicatura Universitaria en Programación en
                la Universidad Tencológica Nacional. Como proyecto final decidimos crear TrailFlix, una aplicación web de streaming de películas y
                series.
            </span>
        </div>
        <img class="img border-img-right" src="../../../../../assets/images/TrailFlix.jpg" alt="">
    </div>

    <div class="feature-container">
        <img class="img border-img-left" src="../../../../../assets/images/coding.png" alt="">
        <div class="text" id="invert">
            <h2>
                Sobre el proyecto
            </h2>
            <span>
                Desarrollamos estre proyecto utilizando Angular como frontend y Json Server como fake backend.
                El principal objetivo del trabajo fue manejar un CRUD de usuarios con Json Server y consumir una API pública para desarrollar una aplicación, por lo que usando la API de The Movie DB
                desarrollamos esta app web.
            </span>
        </div>
    </div>

    <div class="feature-container">
        <div class="text">
            <h2>
                Sobre la app
            </h2>
            <span>TrailFlix cuenta con una amplia biblioteca de contenido que se actualiza constantemente. Podras buscar peliculas por categorías o por su nombre, podrás visualizar su trailer y agregar cada una a una lista de favoritos.
            </span>
        </div>
        <img class="img border-img-right" src="../../../../../assets/images/harry-potter.png" alt="">
    </div>

</section>