
<div class="container" 

infiniteScroll
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="2000"
(scrolled)="appendMovies()"

>
 <!-- BANNER -->
  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let movie of banner; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">

        <img src="{{ 'https://image.tmdb.org/t/p/original' + movie.backdrop_path}}" alt="" class="d-block w-100">

        <div class="carousel-caption d-none d-md-block">

          <h5 class="banner_text" >{{ movie.title }}</h5>
          <p class="banner_text">{{ movie.overview |  slice: 0:130 }}</p>

        </div>
      </div>
    </div>
  </div>

 <!-- FAVORITOS -->
  <div class="row justify-content-md-center mt-4">
    <div class="col-12 mb color_text"> Tus favoritos </div>
    <div class="row justify-content-md-center mt-4" >
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2 g-3 ">
            <div class="card__movie">

                <a href="" class="card_enlace">
    
                    <img src="https://image.tmdb.org/t/p/w500/A4j8S6moJS2zNtRR8oWF08gRnL5.jpg" alt="" class="img-fluid">

                </a>
            </div>
        </div>

    </div>


    <!-- TRENDING -->

    <div class="col-12 color_text"  >Trending Movies</div>
    
    <br>
    <br>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2 g-3" *ngFor="let movie of movies">
        <div class="card__movie">
            <a href="#" class="card_enlace">
                
                <img src="{{ 'https://image.tmdb.org/t/p/w500' + movie.poster_path}}" alt="" class="img-fluid">
            
            </a>
        </div>
    </div>
</div>
