<div
  class="container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="appendMovies()"
>
  <!-- BANNER -->
  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div
        *ngFor="let movie of banner; let i = index"
        class="carousel-item"
        [ngClass]="{ active: i === 0 }"
      >
        <img
          src="{{ 'https://image.tmdb.org/t/p/w1280' + movie.backdrop_path }}"
          alt=""
          class="d-block w-100 banner_img"
        />

        <div class="carousel-caption d-none d-md-block banner_text">
          <h5>{{ movie.title }}</h5>
          <p>{{ movie.overview | slice : 0 : 300 }}...</p>
        </div>
      </div>
    </div>
  </div>

  <!-- FAVORITOS -->
  <div class="row justify-content-md-center mt-4">
    <div class="col-12 mb color_text">Tus favoritos</div>

    <div class="row justify-content-md-center mt-1">
      <div
        class="col-6 col-sm-2 col-lg-2 col-xl-2 g-4"
        *ngFor="let movie of favMovies"
      >
        <div class="card__movie">
          <a class="card_enlace" (click)="dialoMovieDetails(movie)">
            <img
              loading="lazy"
              src="{{ 'https://image.tmdb.org/t/p/w342' + movie.poster_path }}"
              alt=""
              class="img_poster"
            />
          </a>
        </div>
      </div>
    </div>

    <!-- TRENDING -->

    <div class="col-12 color_text mt-3">Trending Movies</div>

    <br />
    <br />
    <div
      class="col-6 col-sm-4 col-lg-3 col-xl-3 g-4"
      *ngFor="let movie of movies"
    >
      <div class="card__movie">
        <a (click)="dialoMovieDetails(movie)" class="card_enlace">
          <img
            *ngIf="movie.poster_path != null"
            loading="lazy"
            src="{{ 'https://image.tmdb.org/t/p/w342' + movie.poster_path }}"
            alt=""
            class="img_poster"
          />
          <img
            *ngIf="movie.poster_path === null"
            loading="lazy"
            src="../../../../../assets/images/No-Image-Placeholder.svg.png"
            alt=""
            class="img_poster"
          />
        </a>
      </div>
    </div>
  </div>
</div>
