.carousel .carousel-item img {
  object-fit: cover;
  object-position:center;
  height: 44vh;
  overflow: hidden;
  border-radius: 1.5rem;
}

.card_movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  position: relative;
  min-height: 200px;
  min-width: 100px;
}

.card_title {
  text-align: center;
  text-decoration: none;
  color: white;
  overflow: hidden;
}

.card_enlace {
    text-decoration: none;
  }

  .card_enlace img {
    border-radius: 1rem;
  }
  
  .card_enlace:hover img {
    transform: scale(1.05);
    transition:  0.2s  ease-in-out ;
  }
  
  .color_text{
    color: white;
    font-size: 1.5rem;
}
.banner_text
{
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  color:rgb(224, 223, 223);

}
.background-dialog {
  background-color: #bbbbbbf2;
  backdrop-filter: blur(4px);
}
