
<div class="container">
    <!-- BANNER -->
  <div
    id="carouselHero"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://pixelprowess.com/i/pow_angle.webp"
          class="d-block w-100"
          alt="Image Description"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="color_text">Slide 01</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            magnam perferendis, similique saepe quas pariatur deleniti ratione
            dolorum, consequatur ea incidunt, quo corporis suscipit culpa atque
            ipsum possimus exercitationem commodi!
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://pixelprowess.com/i/spoon.webp"
          class="d-block w-100"
          alt="POW Logo"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 class="color_text">Slide 01</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            magnam perferendis, similique saepe quas pariatur deleniti ratione
            dolorum, consequatur ea incidunt, quo corporis suscipit culpa atque
            ipsum possimus exercitationem commodi!
          </p>
        </div>
      </div>
    </div>
  </div>

 <!-- FAVORITOS -->
  <div class="row justify-content-md-center mt-4">
    <div class="col-12 mb color_text"> Tus favoritos </div>

    <div class="row justify-content-md-center mt-4" >

        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">

            <div class="card__movie">

                <a href="" class="card_enlace">
    
                    <img src="https://image.tmdb.org/t/p/w500/A4j8S6moJS2zNtRR8oWF08gRnL5.jpg" alt="" class="img-fluid">
    
                   
    
                </a>
            </div>
        </div>

    </div>

    <!-- TRENDING -->

    <div class="col-12 color_text" >Trending Movies</div>
    <br>
    <br>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card__movie">
            <a href="" class="card_enlace">

                <img src="https://image.tmdb.org/t/p/w500/A4j8S6moJS2zNtRR8oWF08gRnL5.jpg" alt="" class="img-fluid">


            </a>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card__movie">
            <a href="" class="card_enlace">

                <img src="https://image.tmdb.org/t/p/w500/A4j8S6moJS2zNtRR8oWF08gRnL5.jpg" alt="" class="img-fluid">

                

            </a>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card__movie">
            <a href="" class="card_enlace">

                <img src="https://image.tmdb.org/t/p/w500/A4j8S6moJS2zNtRR8oWF08gRnL5.jpg" alt="" class="img-fluid">

                

            </a>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card__movie">
            <a href="" class="card_enlace">

                <img src="https://image.tmdb.org/t/p/w500/A4j8S6moJS2zNtRR8oWF08gRnL5.jpg" alt="" class="img-fluid">

               

            </a>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card__movie">
            <a href="" class="card_enlace" >

                <img src="https://image.tmdb.org/t/p/w500/A4j8S6moJS2zNtRR8oWF08gRnL5.jpg" alt="" class="img-fluid">

             

            </a>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card__movie">
            <a href="" class="card_enlace" >

                <img src="https://image.tmdb.org/t/p/w500/A4j8S6moJS2zNtRR8oWF08gRnL5.jpg" alt="" class="img-fluid">

             

            </a>
        </div>
    </div>
    
  </div>
</div>
