<!-- <footer class="container-fluid mt-4" style="background-color: black;height: 26rem;">
    <div class="container">
        
        <div class="row align-items-center border-bottom">
            <div class="col-12 text-center mt-5  border-bottom">
            </div>

            <div class="col-xl-4 col-md- col-lg-4 col-sm-12 mt-4 pe-5 px-5">
                <div class="row mb-4 ">
                     <div class="col text-center">
                         <a href="" ><i class="bi bi-linkedin icon_footer"></i></a>
                     </div>

                     <div class="col text-center"> 
                         <a href="" ><i class="bi bi-github icon_footer" ></i></a>
                     </div>
                     <div class="col text-center"> 
                        <a href="" ><i class="bi bi-google icon_footer" ></i></a>
                    </div>
                    <div class="col text-center"> 
                        <a href="" ><i class="bi bi-instagram icon_footer" ></i></a>
                    </div>
                    
                    <div class="col-12"> 
                        <div class="color_text text-center">Juan M Tretta Alvo</div>
                     </div>
                </div>
            </div>
            <div class="col-xl-4 col-md- col-lg-4 col-sm-12 text-center mt-4">
                <div class="row  mb-4">
                    
                        <div class="col-12 text-center"> <a href="" ><i class="bi bi-github icon_footer" ></i></a></div> 
                        
                        <div class="col-12 color_text text-center"> <span class="name_tr"> TRAIL</span>FLIX</div>
                </div>
            </div>
            <div class="col-xl-4 col-md- col-lg-4 col-sm-12 text-end mt-4 pe-5 px-5 ">
                <div class="row  mb-4">
    
                        <div class="col text-center">
                            <a href="" ><i class="bi bi-instagram icon_footer" ></i></a>
                        </div>
                        <div class="col text-center"> 
                            <a href="" ><i class="bi bi-google icon_footer" ></i></a>
                        </div>
                        <div class="col text-center"> 
                            <a href="" ><i class="bi bi-github icon_footer" ></i></a>
                        </div>
                        <div class="col text-center"> 
                            <a href="" ><i class="bi bi-linkedin icon_footer" ></i></a>
                        </div>

                        <div class="col-12 text-center"> 
                           <div class="color_text">Diego Inostroza</div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</footer>   -->

<footer class="footer-container">

    <div class="property-container item">
        <h4>TrailFlix</h4>
        <div class="data-container">
            <ul>
                © 2023 Inostroza & Tretta
            </ul>
            <ul>
                Todos los derechos reservados
            </ul>
        </div>
    </div>

    <div class="proyect-container item">
        <h4>Proyecto</h4>
        <div class="data-container">
            <ul>
                <h5>TrailFLix</h5>
                <a href="https://mdp.utn.edu.ar/tecnicatura/tecnico_universitario_en_programacion/"  target="_blank">
                    <li> <i class="bi bi-mortarboard"></i> UTN</li>
                </a>
                <a href="https://github.com/diegoinost02/TrailFlix"  target="_blank">
                    <li> <i class="bi bi-github"></i> Repositorio</li>
                </a>
                <a href="https://developer.themoviedb.org/reference/intro/getting-started"  target="_blank">
                    <li> <i class="bi bi-camera-reels"></i> API</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="contact-container item">

        <h4>Contacto</h4>

        <div class="contact-info">
            <div class="data-container">
                <ul>
                    <h5>Diego Inostroza</h5>
                    <a href="https://www.linkedin.com/in/diego-inostroza/" target="_blank">
                        <li> <i class="bi bi-linkedin"></i> Linkedin</li>
                    </a>
                    <a href="https://github.com/diegoinost02"  target="_blank">
                        <li> <i class="bi bi-github"></i> GitHub</li>
                    </a>
                    
                    <a href="mailto:diegoinostroza@gmail.com"  target="_blank">
                        <li> <i class="bi bi-google"></i> Gmail</li>
                    </a>
                    <!-- <li> <i class="bi bi-instagram icon_footer"></i> Instagram</li> -->
                </ul>
            </div>

            <div class="data-container">
                <ul>
                    <h5>Juan Tretta</h5>
                    <a href=""  target="_blank">
                        <li> <i class="bi bi-linkedin"></i> Linkedin</li>
                    </a>
                    <a href="https://github.com/Juanmat1"  target="_blank">
                        <li> <i class="bi bi-github"></i> GitHub</li>
                    </a>
                    
                    <a href=""  target="_blank">
                        <li> <i class="bi bi-google"></i> Gmail</li>
                    </a>
                    <!-- <li> <i class="bi bi-instagram icon_footer"></i> Instagram</li> -->
                </ul>
            </div>
        </div>
    </div>

</footer>