.footer-container {
    margin-top: 5%;
    background-color: black;
    padding-top: 70px;
    padding-bottom: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.property-container {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    max-width: 250px;
}

.proyect-container {
    display: flex;
    flex-direction: column;
    width: auto;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}
.item{
    margin-left: 25px;
    margin-right: 25px;
}

.contact-info {
    display: flex;
}



li {
    font-size: 15px;
    /* transform: scale(0.8); */
    margin-bottom: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}

i {
    margin-right: 5px;
}

ul {
    list-style-type: none;
}

h4 {
    margin-left: 30px;
    margin-bottom: 20px;
}

h5 {
    font-size: 17px;
}
@media screen and (max-width: 850px) {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items:baseline;
    }
    .item{
        margin-bottom: 30px;
    }
}