<footer class="container-fluid mt-4" style="background-color: black;height: 15rem;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="row ">
                    <div class="col-12"> 
                        <div class="color_text">Juan Manuel Tretta Alvo</div>
                     </div>
                     
                     <div class="col-12">
                         <a href="" ><i class="bi bi-linkedin icon_footer" style="font-size: 2rem;"></i></a>
                     </div>

                     <div class="col-12"> 
                         <a href="" ><i class="bi bi-github icon_footer" ></i></a>
                     </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="row">
                        <div class="col-12 color_text">UTN</div>

                        <div class="col-12"> <a href="" ><i class="bi bi-github icon_footer" ></i></a></div>
                </div>
            </div>
            <div class="col text-end">
                <div class="row ">
    
                        <div class="col-12"> 
                           <div class="color_text">Diego Inostroza</div>
                        </div>
                        <div class="col-12">
                            <a href="" ><i class="bi bi-linkedin icon_footer" ></i></a>
                        </div>
                        <div class="col-12"> 
                            <a href="" ><i class="bi bi-github icon_footer" ></i></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</footer>  
