<footer class="footer-container">

    <div class="property-container item">
        <h4>TrailFlix</h4>
        <div class="data-container">
            <ul>
                © 2023 Inostroza & Tretta
            </ul>
            <ul>
                Todos los derechos reservados
            </ul>
        </div>
    </div>

    <div class="proyect-container item">
        <h4>Proyecto</h4>
        <div class="data-container">
            <ul>
                <h5>TrailFLix</h5>
                <a href="https://mdp.utn.edu.ar/tecnicatura/tecnico_universitario_en_programacion/"  target="_blank">
                    <li> <i class="bi bi-mortarboard"></i> UTN</li>
                </a>
                <a href="https://github.com/diegoinost02/TrailFlix"  target="_blank">
                    <li> <i class="bi bi-github"></i> Repositorio</li>
                </a>
                <a href="https://developer.themoviedb.org/reference/intro/getting-started"  target="_blank">
                    <li> <i class="bi bi-camera-reels"></i> API</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="contact-container item">

        <h4>Contacto</h4>

        <div class="contact-info">
            <div class="data-container">
                <ul>
                    <h5>Diego Inostroza</h5>
                    <a href="https://www.linkedin.com/in/diego-inostroza/" target="_blank">
                        <li> <i class="bi bi-linkedin"></i> Linkedin</li>
                    </a>
                    <a href="https://github.com/diegoinost02"  target="_blank">
                        <li> <i class="bi bi-github"></i> GitHub</li>
                    </a>
                    
                    <a href="mailto:diegoinostroza@gmail.com"  target="_blank">
                        <li> <i class="bi bi-envelope-fill"></i> Mail</li>
                    </a>
                    <!-- <li> <i class="bi bi-instagram icon_footer"></i> Instagram</li> -->
                </ul>
            </div>

            <div class="data-container">
                <ul>
                    <h5>Juan Manuel Tretta</h5>
                    <a href="https://www.linkedin.com/in/juan-manuel-tretta/"  target="_blank">
                        <li> <i class="bi bi-linkedin"></i> Linkedin</li>
                    </a>
                    <a href="https://github.com/Juanmat1"  target="_blank">
                        <li> <i class="bi bi-github"></i> GitHub</li>
                    </a>
                    
                    <a href="mailto:tretta.juanmanuel@gmail.com"  target="_blank">
                        <li> <i class="bi bi-envelope-fill"></i> Mail</li>
                    </a>
                    <!-- <li> <i class="bi bi-instagram icon_footer"></i> Instagram</li> -->
                </ul>
            </div>
        </div>
    </div>

</footer>