.navbar_brand{
    color: white;
    font-size: 1.5rem;
}
.navbar_options{
    color: white;
    font-size: 1.1rem;
}
.navbar_options:hover{
    color: rgb(255, 0, 0);
}
.navbar_color
{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.button_color
{
    color:rgb(255, 255, 255);
    border-radius: 0.5rem;
    font-size: 1.0rem;
    border-color: white;
    border-width: 0.1rem;
}
.button_color:hover
{
    color: rgb(48, 48, 48);
   
    background-color: white;
}
.input_color{
    background-color:black;
    
    border-radius: 0.5rem;
    border: 0.1rem;
    border-color: rgb(255, 255, 255);
 
    color:white;
}

.input_color::placeholder{

    color: rgb(245, 245, 245);
}

.navbar_search
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
a{
    cursor:pointer;
}