<nav class="navbar navbar-expand-lg navbar-dark navbar_color mb-3 " >
  <div class="container-fluid">
    <a class="navbar-brand navbar_brand" href="#">TrailFlix</a>
    <button style="color: rgb(110, 110, 110);" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link navbar_options" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar_options" href="#">Perfil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link navbar_options" href="#">Documentacion</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link navbar_options" href="#">Nosotros</a>
        </li>
      </ul>

      
      <form class="d-flex">
        <input class=" me-2 input_color " type="text" placeholder="Buscar" data-ms-editor="true">
        <button class="btn button_color">Buscar</button>
      </form>
    </div>
  </div>
</nav>