.navbar_brand{
    color: white;
    font-size: 1.5rem;
}
.navbar_options{
    color: white;
    font-size: 1.1rem;
}
.navbar_options:hover{
    color: rgb(255, 0, 0);
}
.navbar_color
{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.button_color
{
    border: none;
    border-radius: 3px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: rgb(34, 34, 34);
    color: rgb(210, 207, 207);
}
.button_color:hover
{
    color: rgb(236, 236, 236);
    background-color: rgb(48, 48, 48);
}
.input_color{
    background-color:black;
    
    border-radius: 0.5rem;
    border: 0.1rem;
    border-color: rgb(255, 255, 255);
    outline: none;
    color:white;
}

.input_color::placeholder{
    padding-left: 10px;
    color: rgb(168, 168, 168);
}

.navbar_search
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
a{
    cursor:pointer;
}
form{
    display: flex;
}